- provide(:title, "Edit Profile")
.row
  %h2
    Edit #{resource_name.to_s.humanize}
  = simple_form_for(resource, as: resource_name,
    url: registration_path(resource_name), html: { method: :put }) do |f|
    .row
      .small-6.columns
        = f.input :first_name, autofocus: true
      .small-6.columns
        = f.input :last_name
    = f.input :email, required: true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p Currently waiting confirmation for: #{resource.unconfirmed_email}
    = f.input :password, autocomplete: "off",
      hint: "Leave it blank if you don't want to change it."
    = f.input :password_confirmation
    = f.input :current_password,
      hint: "We need your current password to confirm your changes.",
      required: true
    = f.button :submit, "Update"
  %h3 Cancel my account
  %p
    = link_to "Cancel my account", registration_path(resource_name),
      data: { confirm: "Are you sure?" }, method: :delete, class: "button"
  = link_to "Back", :back
