- provide(:title, full_name(@student))

= modal :add_course do
  %h2 Add Course
  = simple_form_for :course, url: add_course_student_path(@student) do |f|
    = f.input :course_code
    = f.button :submit, "Add Course"

.row
  %h1= full_name(@student).html_safe

  = modal_link("Add Course", :add_course, class: "button right")

  = render "users/course_index", user: @student
