<% @users.each do |u| %>
	<tr>
		<td><%= link_to_if(can?(:read, User), "#{u.first_name} #{u.last_name}", user_path(u.id)) %></td>
		<td><%= "#{u.email}" %></td>
		<td><%= "#{u.roles.collect{|r| r.name}}" %></td>
		<td><%= link_to_if(can?(:edit, User), edit_user_path(u.id)) %></td>
		<td><%= link_to_if(can?(:delete, u), u, :confirm => "Are you sure?", 
				:method => :delete) %></td>
	</tr>
<% end %>