<% @lt.unit.course.enrollments.each do |e| %>
  <% e.learning_target_progresses.each do |p| %>
  <tr id=<%= e.student.id %> >
    <td><%= e.student.full_name %></td>
    <td><%= p.level %></td>
    <td>
      <%= p.comments.last.content if !p.comments.last.nil?%>
    </td>
    <td>
      <%= p.comments.last.commenter_name if !p.comments.last.nil? %>
    </td>    
    <td>
      <%= link_to "Change Level", '#levelModal',
      :class => "btn btn-primary btn-sm changebutton",
      :data => { :toggle => "modal" }, 
      :id => e.student.id %>

      <% end %>
    </td>
  </tr>
  <% end %>


<script>
  $('a.changebutton').on("click", function(e) {
    $('#student_id').val(e.target.id)
  })
</script>