<%= form_tag teachers_add_unit_path, method: 'post' do%>
  <fieldset>
    <div class="form-group">
      <%= label_tag :unit_number %>
      <%= text_field_tag :unit_number, nil,
        class: "form-control",
        placeholder: "Unit Number"%>
    </div>
    
    <div class="form-group">
      <%= label_tag :unit_name %>  
      <%= text_field_tag :unit_name, nil,
        class: "form-control",
        placeholder: "Unit Name" %>
    </div>
        
    <div class="form-group">
      <%= label_tag :course %>
      <%= select_tag :course,
        options_from_collection_for_select(current_teacher.courses,
                                           "id",
                                           "name"),
        class: "form-control" %>
    </div>

    <div class="form-group">
      <%= submit_tag "Add Unit", class: "btn btn-default" %>
    </div>
  </fieldset>
<% end %>
