- provide(:title, full_name(@teacher))

= modal :new_course do
  %h2 Create Course
  = simple_form_for @course do |f|
    = f.input :name
    = f.button :submit

.row
  %h1= full_name(@teacher)

  = modal_link "New Course", :new_course, class: "button right"
  = render "users/course_index", user: @teacher
