<% if signed_in? %>
  <% provide(:title, 'Teacher Profile') %>

  <%= render 'course_modal' %>
  <%= render 'unit_modal' %>
  
  <div class="page-header">
    <h1><%= @teacher.full_name %></h1>
  </div>
  
  <% if @teacher.courses.first.nil? %>
  
  <%= render 'no_courses' %>

  <% else %>

  <%= render 'dashboard' %>

  <% end %>
<% end %>
