<div class="container-fluid">
  <h1>Sign in</h1>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>    
    <div class="row-fluid">
      <div class="span4 offset4">
        <%= f.label :email %><%= f.email_field :email, :autofocus => true %>
      </div>
    
    <div class="row-fluid">
      <div class="span4 offset4">
        <%= f.label :password %><%= f.password_field :password %>
      </div>
    </div>
    
    <% if devise_mapping.rememberable? -%>
    <div class="row-fluid">
      <div class="span4 offset4">
        <div class="checkbox"><%= f.check_box :remember_me %><%= f.label :remember_me %></div>
      </div>
    </div><br>
    <% end -%>

    <div class="row-fluid">
      <div class="span4 offset4">
        <%= f.submit "Sign in", class: 'btn btn-primary'  %>
      </div>
    </div>
    <% end %>
  </div>
</div>
