<%= form_tag concepts_modify_concept_path,
  id: "conceptForm",
  method: 'post' do %>
  <fieldset>
    <div class="form-group">
      <%= label_tag :type_of_error %>
      <%= select_tag :type_of_error, "", id: "typeOfErrorSelect",
        class: "form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag :next_steps %>
      <%= select_tag :next_steps, "", id: "nextStepsSelect",
        class: "form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag :level %>
      <%= select_tag :level,
        options_for_select([1,2,3,4]),
        class: "form-control" %>
    </div>

    <%= hidden_field_tag 'concept_id', params[:id] %>
    <% if student_signed_in? %>
      <%= hidden_field_tag 'student_id', current_student.id %>
    <% elsif teacher_signed_in? %>
      <%= hidden_field_tag 'student_id', params[:student_id] %>
    <% end %>

    <%= button_tag "Change Level",
      id: "conceptButton",
      class: "btn btn-default",
      "data-dismiss" => "modal" %>
  </fieldset>
<% end %>

<script>

var json = {
  "Procedural": [
    "Practice problems.",
    "Create a model card.",
    "Narrate solution to a problem (Educreations app)."
    ],
  "Conceptual": [
    "Create concept map with for self-testing.",
    "Annotate notes after direct instruction.",
    "Research online resources (Khan Academy, etc.)."
    ],
  "Misconception": [
    "See teacher at beginning of active practice."
    ],
  "Reasoning": [
    "Strengthen connections in your concept map.",
    "Narrate problem solving and time stamp A, C, E.",
    "WEC."
    ]
}

$.each(json, function(value) {
  $('#typeOfErrorSelect').append('<option value="' + value + '">' + value + '</option>');
});

$('#typeOfErrorSelect').change(function() {
  $('#nextStepsSelect').empty();

  var selection = $(this).val();
  $.each(json, function(value, object) {
    if(selection == value) {
      $.each(object, function(i, v) {
        $('#nextStepsSelect').append('<option value="' + v +'">' + v + '</option>');
      });
    }
  });
});

$('#conceptButton').click(function() {
  $('#conceptForm').submit();
});

$(document).ready(function() {
  $('#typeOfErrorSelect').change();
});
</script>
