<table class="table">
  <thead>
    <th>Date</th>
    <th>P Level</th>
    <th>G Level</th>
    <th>Type of Error</th>
    <th>Next Steps</th>
  </thead>  
  <tr>
    <% new_progress if @progress.nil? %>
    <td><%= @concept.created_at.to_formatted_s(:mdy) %></td>
    <td><%= @progress.p_level %></td>
    <td><%= @progress.g_level %></td>
    <td><%= @progress.type_of_error %></td>
    <td><%= @progress.next_steps %></td>
    <td>
      <%= link_to "Edit Concept", '#conceptModal',
        :class => "btn btn-primary btn-sm changebutton",
        :data => { :toggle => "modal" }, 
        :id => current_student.id %>
    </td>
  </tr>
</table>
