<table class="table">
  <thead>
    <th>Level</th>
    <th>Date</th>
    <th>Type of Error</th>
    <th>Next Steps</th>
  </thead>  
  <tr>
    <% if @progress.nil? %>
      <% new_progress %>
    <% else %>
      <td>
        <%= @progress.level %>
      </td>
    <% end %>
    <td><%= @concept.created_at.to_formatted_s(:mdy) %></td>
    <td><%= @progress.type_of_error %></td>
    <td><%= @progress.next_steps %></td>
    <td>
      <%= link_to "Edit Concept", '#conceptModal',
        :class => "btn btn-primary btn-sm changebutton",
        :data => { :toggle => "modal" }, 
        :id => current_student.id %>
    </td>
  </tr>
</table>
