- provide(:title, "Edit Concept")

.row
  %h1 Edit Concept
  = simple_form_for @concept do |f|
    = f.input :name
    = f.input :description
    = f.input :dok1_resources
    = f.input :dok2_resources
    = f.input :dok3_resources
    = f.button :submit
