- provide(:title, concept_title(@concept))

.row
  - breadcrumb :concept, @concept

  %h1= "#{ @concept.name }"
  
  - if current_user.is_a? Student
    %h3 Description:

    %p= @concept.description.gsub(/\n/, '<br/>').html_safe

  - if current_user.is_a? Teacher
    %h3 Progress
    
    %table
      %thead
        %tr
          %th Student
          %th Last Edited
          %th Goal Level
          %th Current Mastery Level
          %th Effort Level
          %th Next Steps
          - if show_concept_progress_actions? @concept
            %th Actions
      %tbody
        - policy_scope(@concept_progresses).each do |cp|
          %tr
            - if current_user.is_a? Teacher
              %td= full_name(cp.enrollment.student)
            %td= cp.updated_at.localtime.to_formatted_s(:mdy)
            %td= cp.goal_level
            %td= convert_mastery?(cp.mastery_level)
            %td= cp.effort
            %td= cp.next_steps
            - if policy(cp).edit?
              %td= link_to "Edit", edit_concept_progress_path(cp)

  - else
    %h3 Current Levels
    
    %table#progress-table
      %thead
        %tr
          %th Last Edited
          %th Weekly Goal
          %th Effort Level
          %th Next Steps

      %tbody
        - policy_scope(@concept_progresses).each do |cp|
          %tr
            %td= cp.updated_at.localtime.to_formatted_s(:mdy)
            %td= cp.goal_level
            %td= cp.effort
            %td= cp.next_steps

          - if policy(cp).edit?
            = link_to "Update Levels", 
            edit_concept_progress_path(cp), class: "button right",
            id:"update-levels-button"
    
    - policy_scope(@concept_progresses).each do |cp|
      #concept_progress_chart{data:{ concept_progress: cp.chart_data.to_json}}