- provide(:title, concept_title(@concept))

.row
  - breadcrumb :concept, @concept

  %h1= "Concept #{ @concept.name }"

  %h3 Description

  %span.subheader= simple_format @concept.description

  %h3 Progress

  %table
    %thead
      %tr
        - if current_user.is_a? Teacher
          %th Student
        %th Last Edited
        %th Weekly Goal Level
        %th Current Mastery Level
        %th Type of Error
        %th Next Steps
        %th Completed?
        %th Leveling Up?
        %th Feedback
        - if show_concept_progress_actions? @concept
          %th Actions
    %tbody
      - policy_scope(@concept_progresses).each do |cp|
        %tr
          - if current_user.is_a? Teacher
            %td= full_name(cp.enrollment.student)
          %td= cp.updated_at.to_formatted_s(:mdy)
          %td= cp.goal_level
          %td= convert_mastery?(cp.mastery_level)
          %td= cp.type_of_error
          %td= cp.next_steps
          %td= yes_or_no(cp.completed)
          %td= yes_or_no(cp.leveling_up)
          %td= cp.feedback
          - if policy(cp).edit?
            %td= link_to "Edit", edit_concept_progress_path(cp)
