<% provide(:title, "Concept #{ @concept.number }") %>

<%= render 'modify_level_modal' %>

<div class="page-header">
  <dl>
    <dt><h1><%= "Concept #{ @concept.number }" %></h1></dt>
    <dd><%= @concept.description %></dd>
  </dl>
</div>

<%= render 'teacher' if teacher_signed_in? %>
<%= render 'student' if student_signed_in? %>

