- provide(:title, "Edit Concept Progress")

.row
  %h1 Are you GRASPing the material?
  = simple_form_for @concept_progress do |f|
    = f.input :goal_level, collection: goals, label: "Weekly Goal Level",
      disabled: (current_user.is_a? Teacher),
      label_html: { class:"has-tip tip-top", id:"goal",
      title: "#{ short_term_goal_explanation }",
      data: { tooltip: true } }
    = f.label :current_mastery_level, required: true, 
      class: "has-tip tip-top", id: "mastery", data: { tooltip: true },
      title:"#{mastery_goal_explanation}"
    = f.collection_select :mastery_level, Mastery.all, :value,
      :description, disabled: (current_user.is_a? Teacher)
    = f.input :effort, collection: effort, 
      disabled: (current_user.is_a? Teacher),
      label: "Effort Level"
    = f.label "Next steps", required: true
    = f.grouped_collection_select :next_steps, Mastery.all, :steps,
      :id, :description, :description, 
      disabled: (current_user.is_a? Teacher)
    = f.button :submit, "Update Your Progress"