- provide(:title, "Edit Concept Progress")


.row
  %h1 Edit Concept Progress
  = simple_form_for @concept_progress do |f|
    = f.input :goal_level, collection: goals
    = f.input :mastery_level, collection: mastery
    = f.label "Type of error", required: true
    = f.collection_select :type_of_error, ErrorType.all, :error_type, :description
    = f.label "Next steps", required: true
    = f.grouped_collection_select :next_steps, ErrorType.all, :steps, :error_type, :description, :description
    = f.input :action_steps, label: 'Plan to accomplish next steps', 
      input_html: { rows: 10 }
    = f.input :completed, as: :radio_buttons, 
      label: 'Have you complete the next steps?'
    = f.button :submit, "Edit Concept Progress"