<div class="panel">
  <div class="panel-heading concept-heading clearfix">
    <% if teacher_signed_in? %>
    <a data-toggle="modal" href="#conceptModal">
      <button type="button" class="btn btn-default btn-sm pull-right">
        New Concept
      </button>
    </a>
    <% end %>
  </div>
  <table class="table table-hover" data-provides="rowlink">
    <thead>
      <th>Concept</th>
      <th>Description</th>
      <% if student_signed_in? %>
        <th>P Level</th>
        <th>Next Steps</th>
      <% end %>
    </thead>
    <% @concepts.each do |concept| %>
      <tr onclick="document.location = '<%= concept_path(concept) %>'">
        <td><%= concept.number %></td>
        <td><%= concept.description %></td>
        <% if student_signed_in? %>
          <% progress = concept_progress_for(concept, current_student) %>
          <td><%= progress.p_level %></td>
          <td><%= progress.next_steps %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
