<%= form_for @unit do |f| %>

  <div class="form-group">
    <%= f.label :number %>
    <%= f.text_field :number, value: "", placeholder: @unit.number,
      class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, value: "", placeholder: @unit.name,
      class: "form-control" %>
  </div>

  <%= f.submit "Save", class: "btn btn-default"  %>
<% end %>
