- provide(:title, unit_name(@unit))

- if policy(@concept).create?
  = modal :create_concept do
    %h2 Create Concept
    = simple_form_for @concept do |f|
      = f.input :name
      = f.input :description
      = f.hidden_field :unit_id
      = f.button :submit

.row
  - breadcrumb :unit, @unit

  %h1= unit_name(@unit)

  - if policy(@concept).create?
    = modal_link "Create Concept", :create_concept, class: "button right"

  %table
    %thead
      %tr
        %td Concept
        %td Description
        %td Recall & Reproduction Resources (DOK 1)
        %td Skills & Concepts Resources (DOK 2)
        %td Strategic Thinking & Reasoning (DOK 3)
        - if show_concept_actions? @unit
          %td Actions

    %tbody
      - policy_scope(@concepts).each do |c|
        %tr
          %td= link_to c.name, c  
          %td=  c.description.gsub(/\n/, '<br/>').html_safe
          %td=  auto_link(c.dok1_resources).gsub(/\n/, '<br/>').html_safe
          %td=  auto_link(c.dok2_resources).gsub(/\n/, '<br/>').html_safe
          %td=  auto_link(c.dok3_resources).gsub(/\n/, '<br/>').html_safe
          - if show_concept_actions? @unit
            %td
              = link_to "Edit", edit_concept_path(c) if policy(c).edit?
              = link_to "Delete", c, method: :delete,
                data: { confirm: "Are you sure you want to permanently delete Concept: #{ c.name }?" }
