<% provide(:title, @unit.name) %>

<%= render 'teachers/concept_modal' %>

<div class="page-header">
  <h1><%= "Unit #{ @unit.number } - #{ @unit.name }" %></h1>
</div>

<% if !current_teacher.nil? %>

  <%= render 'teacher_view' %>
  
  <div class="panel-heading concept-heading clearfix">
    <%= link_to "Delete Unit", @unit, 
    method: :delete, 
    class:'btn btn-default btn-sm pull-right',
    data: { confirm: "Delete the #{@unit.name} Unit? This cannot be undone." },
    title: "Delete #{@unit.name}" %>
  </div>
    
<% elsif !current_student.nil?  %>
  <%= render 'student_view' %>
<% end %>

