<nav class="navbar-static-top navbar-default" role="navigation">
<div class="container">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%= link_to image_tag('logo.png'), root_path, class: 'navbar-brand',
    id: 'logo' %>
</div>

<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav navbar-right nav-controls">
    <li class="<%= 'active' if current_page?(root_path) %>">
    <%= link_to 'Home', root_path %>
    </li>

    <% if !signed_in? %>
      <li class="<%= 'active' if request.fullpath.include?("sign_up") %>">
      <%= link_to 'Sign Up', sign_up_path %>
      </li>
      <li class="<%= 'active' if current_page?(sign_in_path) %>">
      <%= link_to 'Sign In', sign_in_path %>
      </li>
    <% elsif signed_in? %>
      <li><%= link_to 'Sign Out', sign_out_path, :method => :delete %></li> 
    <% end %>
  </ul>
</div>
</div>
</nav>
