<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
<<<<<<< HEAD
     <%= link_to 'Grasp', root_path, id: 'logo' %>
=======
      <%= link_to image_tag('logo.png'), root_path, id: 'logo' %>
>>>>>>> 268b2774bb2f242204ebd50541ea055337b79c84
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to 'Home',    root_path %></li>
          <li><%= link_to 'Help',    help_path %></li>

          <% if !signed_in? %>
<<<<<<< HEAD
          <li><%= link_to 'Sign up', sign_up_path %></li>
          <li><%= link_to 'Sign in', sign_in_path %></li>
          <% elsif signed_in? %>
           <li><%= link_to 'Sign Out', destroy_teacher_session_path, :method => :delete %></li> 
=======
            <li><%= link_to 'Sign Up', sign_up_path %></li>
            <li><%= link_to 'Sign In', sign_in_path %></li>
>>>>>>> 268b2774bb2f242204ebd50541ea055337b79c84
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
